<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
    <!--
    职位描述：
        团队介绍： 蚂蚁金服集团研发效能部致力于通过先进的平台、工具链和工程实践为蚂蚁金服所有研发、
        测试和运维人员提供一体化智能研发效能平台，为各个业务部门解决日常研发的“痛点”，
        不断提高组织研发效率和整体效能，并将服务与产品输出到金融云的企业和客户。
        互联网金融高效的团队协作、敏捷快速的迭代、海量的代码管理、分布式秒级构建、高性能的测试工具、
        大规模的集群协同部署和运营等技术和业务挑战，需要有优秀的产品和研发团队支持。
        我们是那支有技术有激情有梦想的团队，不断地探索着新的技术和实践，为了极致效能提升而一直努力着。
        为了应对不断的技术挑战和业务扩张，我们研发效能部真诚热情的期待新鲜血液的加入。

        岗位职责: 主要负责研发效能平台和相关工具的架构与实现，能够准确把握业务需求，参与系统设计，负责核心代码的实现。
        职位要求：
        1. 本科及以上学历，3年以上Java开发经验。 熟悉Java IO、多线程、集合等基础框架，对JVM原理有一定的了解。
        2. 熟悉Spring、Mybatis、Structs等开源框架，对其工作机制和原理有一定程度的了解。
        3. 熟悉分布式设计，了解分布式计算（Hadoop、Storm等）、缓存（Memcache，Redis等）、消息等工作机制，并能应用到实际工作中
        4. 熟悉Mysql数据库，能编写高效的SQL语句并能对SQL进行性能调优，熟悉常见的NoSQL DB，如MongoDB等
        5. 熟悉前端开发，有React/Redux开发经验者优先。
        6. 综合能力：关注技术动态，对技术有热情；有责任心和团队合作精神，心态积极，能主动融入团队。
        7. 其他：有代码管理、CI/CD、测试平台、大数据分析和机器学习等开发经验者优先。

        职位要求：
        蚂蚁金服－服务治理技术专家 蚂蚁研发效能部－服务治理团队是服务于整个蚂蚁金服集团的核心技术团队，
        打造了世界领先的金融级一体化智能研发效能平台，致力于不断提高组织研发效率和整体效能，
        并将服务与产品输出到金融云企业和客户，加入我们，您将参与：
        1.负责服务治理（包括服务依赖、链路跟踪、组件管控、消息巡检、多语言Tracer等）的方案设计，
        新特性研发，性能调优，高可用设计等工作，让研发效能平台在数据化、自动化和智能化等建设中持续性输出研发创新产品。
        2.相关服务治理和研发效能产品的产品化的工作，对标开源产品，打造世界领先的研发效能产品。

        职位描述
        1.3年以上 JAVA 开发经验，有并发编程经验，熟悉文件I/O，网络 I/O 及类加载等机制细节；具有一定的JVM调优经验和内存、线程相关问题排查经验；
        2.熟悉Spring、Mybatis、Structs等开源框架，熟悉大规模分布式系统或者类库的研发经验（如elsticsearch、hadoop、zookeeper，dubbo，docker等），深入了解实现机制以及有社区贡献者优先；
        3.熟悉MYSQL和NoSQL DB，分布式缓存者优先, 包括但不限于redis, mongodb, memcached；
        4、有技术热情和较强的学习能力，有很好的问题分析和技术攻关能力，具有良好的团队合作和沟通能力和抗压能力；
        5.熟悉性能诊断APM者优先，有消息中间件、RPC、数据层中间件、存储等中间件研发经验值者优先
    -->
</log4j:configuration>
