<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamh.mybatis.demo.User">
    <select id="getUser" parameterType="int" resultType="com.mamh.mybatis.demo.User">
        SELECT *
        FROM mb_users
        WHERE id = #{id}
    </select>


    <select  id="getAllUser" parameterType="int" resultType="com.mamh.mybatis.demo.User">
        SELECT *
        FROM mb_users
    </select>
</mapper>